build/
dist/
Scripts/
/data
Lib/
Scripts/
Include/
share/
utc/
.idea/
.ipynb_checkpoints/
pyvenv.cfg
semantic_search/__pycache__/__init__.cpython-37.pyc
hybrid_search_engine.egg-info/
/.ipynb_checkpoints/
